.on-success {
    position: absolute;
    top: 45%;
    left: 35%;
    width: 35%;
    height: 150px;
    border: 1px solid black;
    border-radius: 5%;
    background: white;
    text-align: center;
}

.error {
	border:1px solid red;
}

.errorsBlock {
	position: absolute;
	top: 28%;
	right: 5%;
	font-size: 20px;
	background-color: white;
}

.hiddenWindow {
    display: none;
}

@media only screen and (max-width : 680px) {
    .on-success h1 {
        font-size: 30px;
    }
}

a img {
	position: absolute;
	height: 4em;
	width: 4em;
	top: 4%;
}

a img:hover {
    height: 5em;
    width: 5em;
}

section{
	 background: url(../img/letter-frame.png) no-repeat center center;
	 -webkit-background-size: contain;
	 -moz-background-size: contain;
	 -o-background-size: contain;
	 background-size: contain;
	 background-color: #DBDFBB;
	 min-height: 56.5em;
	 display: flex;
	 flex-direction: column;
	 flex-wrap: wrap;
	 align-items: center;
	 justify-content: center;
}

form {
	width: 22em;
	flex: 0;
	padding-bottom: 15em;
	text-align: center;
}

@media all and (max-width: 640px){
	form {
		width: 21em;
		font-size: 1em;
	}
	input[type=text], textarea {
        width:50%;
    }
    a img {
		height: 3em;
		width: 3em;
	}

	a img:hover {
   	 	height: 4em;
    	width: 4em;
	}
}
