section{
    background: url(../img/letter-frame.png) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #DBDFBB;
    min-height: 700px;
}

.on-success {
    position: absolute;
    top: 45%;
    left: 35%;
    width: 35%;
    height: 150px;
    border: 1px solid black;
    border-radius: 5%;
    background: white;
    text-align: center;
}

.hiddenWindow {
    display: none;
}

@media only screen and (max-width : 680px) {
    .on-success h1 {
        font-size: 30px;
    }
}

a img {
    height: 150px;
    width: 150px;
    position: absolute;
    top: -1%;
    left: 120%;
}

a img:hover {
    height: 170px;
    width: 170px;
}

form {
    width: 350px;
    height: 400px;
    margin: 100px auto;
    text-align: center;
    padding-left: 17px;
}