body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

header p:first-of-type {
    position: relative;
    top: 15px;
    right: 70%;
}

header a {
    position: relative;
    top: 10px;
    left: 75%;
}

header, footer {
    min-height: 80px;
    box-sizing: border-box;
    flex: 0 1 auto;
    background-color: red;
    color: white;
}

section {
    box-sizing: border-box;
    flex: 2 auto;
    min-width: 450px;
    background-color: #DBDFBB;
    min-height: 600px;
}

footer a:hover {
    text-decoration: underline;
}

footer > ul {
    list-style: none;
}
