body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

header, footer {
    min-height: 80px;
    box-sizing: border-box;
    flex: 0 1 auto;
    background-color: red;
    color: white;
}

section {
    box-sizing: border-box;
    flex: 2 auto;
    min-width: 450px;
    background-color: #DBDFBB;
    min-height: 600px;
}

footer{
    font-family: Georgia, serif;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0 30px;
}

footer > ul {
    list-style: none;
    -webkit-padding-start: 0;
}

footer li {
    padding: 5px;
}

footer a {
    color: #DBDFBB;
    font-style: italic;
}

footer a:hover {
    color: #000000;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
