.gift-section {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    text-align: center;
}

.santa-gift {
    width: inherit;
    height: 400px;
}

.santa {
    position: absolute;
    right: 3%;
    top: 45%;
}

.santa img{
    max-width: 400px;
}

header p:first-of-type img {
    height: 190px;
    width: 130px;
    position: absolute;
    top: -1%;
    left: 120%;
}

header p:first-of-type img:hover {
    height: 210px;
    width: 150px;
}

.santa-gift-text {
	color: red;
	font-style: italic;
}
