.wish-list-container{
	width: 40em;
	height: 30em;
	padding: 3em;
	margin: 0 auto;
	background-color: #efefef;
	z-index: 2;
}

.side-image-container {
	position: absolute;
	right: -14%;
	top: 55%;
}

.side-image-container img {
	max-width:60%;
}
