.wish-list-container{
	width: 500px;
	height: 400px;
	margin: 0 auto;
	padding-top: 1em;
}

.side-image-container {
	position: absolute;
	right: -14%;
	top: 55%;
}

.side-image-container img {
	max-width:60%;
}
