.wish-list-container{
	width: 500px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid black;
}

a img {
	height: 150px;
	width: 150px;
	position: absolute;
	top: -1%;
	left: 120%;
}

a img:hover {
	height: 170px;
	width: 170px;
}
